# ignore any pycache directories
__pycache__/

.history/

*.pkl

.vscode/

# ignore any file inside corpus directory
corpus/*

results/

logs/

cache/

test_encoder_only_m3_bge-m3_sd/

ds_stage0.json

messirve.json

saved_model/

messirve_ar/

messirve_train_ar_hard_negatives/

finetuned_models/

messirve_train_ar_hard_negatives/
messirve_test_ar_hard_negatives/

# messirve_train_ar_hard_negatives_sbert/
# messirve_test_ar_hard_negatives_sbert/

outputs/

multirun/

.hydra/

*.log

*.csv