# ignore any pycache directories
__pycache__/

.history/

*.pkl

.vscode/

# ignore any file inside corpus directory
corpus/*

results/

logs/

cache/

test_encoder_only_m3_bge-m3_sd/

ds_stage0.json

messirve.json