# ignore any pycache directories
__pycache__/

.history/

*.pkl

.vscode/

# ignore any file inside corpus directory
corpus/*

results/

logs/

cache/

test_encoder_only_m3_bge-m3_sd/

ds_stage0.json

messirve.json

saved_model/

messirve_ar/

messirve_train_ar_hard_negatives/

finetuned_models/

messirve_train_ar_hard_negatives/
messirve_test_ar_hard_negatives/

messirve_train_ar_hard_negatives_sbert/
messirve_test_ar_hard_negatives_sbert/

outputs/

multirun/

.hydra/

*.log

*.csv

*.lsf

checkpoints/

experiment_logs/

results_cross_encoder_90_f1/
results_cross_encoder_91_f1/

unsloth_compiled_cache/

*.txt

*.tsv

*.png

*.jsonl

*.json

BatchAPI_requests/*

data/processed/

print_project_structure.py

# Ignore model checkpoint files
*.pt
*.bin
*.safetensors
*.ckpt
*.h5

# Ignore optimizer and training state files
*.optimizer
*.scheduler
*.pkl
*.pickle

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore output folders
__pycache__/
.ipynb_checkpoints/
checkpoints/
models/
outputs/

src/scripts/test_encoder_only_m3_bge-m3_sd*/

test_encoder_only_m3_bge-m3_sd*/

docs_to_annotate/